
.idea/
.DS_Store
__pycache__/
classification/convertor/
segmentation/convertor/
checkpoint_dir/
demo/
detection/work_dirs
*.pth
ops_dcnv3/build
ops_dcnv3/dist
ops_dcnv3/DCNv3.egg-info
DCNv4_op/DCNv4.egg-info
build/
dist/
ckpts/
ckpts
data
data/
detection/data
detection/ckpts
segmentation/data
segmentation/ckpts
work_dirs/
output